body{
    /*background-image: url("./images/wood-591631_1920.jpg"); */
    background-color: rgb(177, 163, 145);

}

h1{
    color:burlywood;

    text-shadow: 1px 1px 2px rgb(7, 7, 7);
    
    text-align: center;
    font-family:Sans-serif, serif;
    font-size: 50px;
}

.playChoices{
    display: flex;
    justify-content: center;
        
}

.ChoiceContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

p{
    font-family:Sans-serif, serif;
    line-height: 5px;   /* within paragraph */
    margin-bottom: 5px; /* between paragraphs */
    /*font-size: 30px;*/
}

.images{
    display: flex;
    align-items: center;
    border-color: rgb(54, 33, 6);
    border-style: solid;
    border-radius: 15px;
    background-color: burlywood;
    padding: 10px;
}
button{
    padding: 0;
    margin: 0;
    border: 0;
}
img{
    margin: 2px;
    border-style: solid;
    border-color: burlywood;
}
#versusText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

    font-size: 35px;
    color:rgb(53, 51, 49);
  /*  transform: rotate(-35deg);*/
}

.rockImage {
    width: 200px;
    height: fit-content;
    padding: 10px;
}

.paperImage{
    width: 150px;
    height: fit-content;
    padding: 10px;
}

.scissorsImage{
    width: 180px;
    height: fit-content;
    padding: 10px;
}

.highlightSelection{
    border-style: solid;
    border-color: gold;
    border-radius: 25px;
    box-shadow: 2px 2px 0 0 rgb(114, 97, 1);
}

.rockBtn.rpsBtn, .paperBtn.rpsBtn, .scissorsBtn.rpsBtn{
    background-color: inherit;
    border: 0 none;
}

.scores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreBoard{
    display: flex;
    flex-direction: row;
    border-style: solid;
    background-color: burlywood;
    border-radius: 15px;
    margin: 40px;
}

.scoreContainer{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.scoreResult{
    background-color: black;
    font-size: 40px;
    color: white;
    padding: 20px;
    margin: 0 20px 20px 20px;
    border-radius: 5px;
}

.scoreLog{

}